vim/.netrwhist
vim/bundle/
vim/plug/
vim/doc/

nvim/pack/
nvim/plug/
nvim/plugin/packer_compiled.lua

dotemacs.d/auto-save-list
dotemacs.d/elpa
*~
*.elc
dotfiles/emacs.d/el-get/
dotfiles/emacs.d/eshell/
dotfiles/emacs.d/elpa/
antigen/
*.pyc
dotfiles/tmux/resurrect/*
dotfiles/tmux/plugins/

ergodox/kll
ergodox/log
ergodox/*.bin
ergodox/*.kll
