snippet tsgame "Description" !b
{
  "extends": "../../lib/tsconfig_base.json",

  "references":[
    {"lib": "../../lib"}
  ],

  "compilerOptions": {
    "outDir": "../../build/",
    "baseUrl": "."
  }
}
endsnippet
