snippet tsconfig "Starting point config" !b
{
  "compilerOptions": {
	  "target": "es5",
	  "module": "commonjs",
		"sourceMap": true,
		"noImplicitAny": true
	},
	"files": [
	  "main.ts",
		"typings/tsd.d.ts"
	]
}
endsnippet
