snippet tsgame "Description" !b
{
  "extends": "../../lib/tsconfig_base.json",

  "references":[
    {"lib": "../../lib"}
  ],

  "exclude": ["build"],

  "compilerOptions": {
    "outFile": "../../build/${1}.js",
    "baseUrl": "."
  }
}
endsnippet
