snippet log "log text" !w
println!("$1");
endsnippet
snippet l "log variables" !w
println!("$1: ${1/[^\,]+/{:?}/g}", ${1});
endsnippet
snippet fn "function" !b
fn $1($2)$3{
    $0
}
endsnippet
snippet if "conditional" !b
if $1 {
  ${0:${VISUAL}}
}
endsnippet
snippet el "error log variables" !b
Err(format!("$3${2:$1}: ${1/[^\,]+/{:?}/g}", ${1}))?
endsnippet
snippet e "error string" !b
Err(format!("$1"))?
endsnippet
