snippet fn
func! $1($2)
  ${VISUAL}$0
endfunc
endsnippet

snippet if "conditional"
if ${1:0}
  ${VISUAL}$2
endif$0
endsnippet
snippet match "match with matchlist" !b
let ${3:parts} = matchlist($1, '\v^${2}$')
if len($3)
  $0
endif
endsnippet
