snippet mysql "Mysql table" !b
CREATE TABLE ${1:test} (
  id BIGINT NOT NULL AUTO_INCREMENT,
  PRIMARY KEY \`pk_$1\` (id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 DEFAULT COLLATE=utf8_general_ci;
endsnippet
